<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizService" class="ru.otus.hw01.service.QuestionService">
        <property name="questionDAO" ref="questionCsvDAO"/>
    </bean>

    <bean id="questionCsvDAO" class="ru.otus.hw01.dao.impl.QuestionCsvDAO">
        <constructor-arg>
            <value type="java.lang.String">questions.csv</value>
        </constructor-arg>
    </bean>

</beans>